/*Strip the ul of padding and list styling*/
nav {
	background-color: #EDDAB7;
	color: #000000;
	left: 0;
	padding: 0 10vw 0 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	margin-left: 140px;
}

/*Create a horizontal list with spacing*/
nav li {
	display: inline-block;
	float: left;
	margin-right: 1px;
	font-weight: bold;
}

/*Style for menu links*/
nav li a {
	display: block;
	min-width: 120px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #EDDAB7;
	text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
	color: #fff;
	background: #BDAE92;
	text-decoration: none;
}

/*Style for dropdown links*/
nav li:hover ul a {
	background: #EDDAB7;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
	margin: 0;
	text-decoration: none;
	text-align: left;
}

/*Hover state for dropdown links*/
nav li:hover ul a:hover {
	background: #BDAE92;
	text-decoration: none;
	color: #fff;
}

/*Hide dropdown links until they are needed*/
nav li ul {
	display: none;
	margin-left: 0px;
}

/*Make dropdown links vertical*/
nav li ul li {
	display: block;
	float: none;
}

/*increasing the width of the last li in the main menu */
nav ul li:nth-last-child(1) ul {
	width: max-content;
}

/*Prevent text wrapping*/
nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/*Display the dropdown on hover*/
nav ul li a:hover+.hidden,
.hidden:hover {
	display: block;
}

.logo {
	top: 0;
	left: 0;
	position: absolute;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 10px 0;
	display: none;
	margin-left: 140px;
}

/*Hide checkbox*/
nav input[type=checkbox] {
	display: none;
}

/*Show menu when invisible checkbox is checked*/
nav input[type=checkbox]:checked~#menu {
	display: block;
}

.menu {
	display: inline;
}

nav .searchbox input[type=text] {
	height: 25px;
	width: 100px;
	border-radius: 25px;
	color: black;
	background-color: #f5f5f5;
}

nav .searchbox {
	position: relative;
	float: right;
	width: 200px;
	padding: 10px;
}

nav .donate {
	background-color: #F5ECDB;
	color: black;
	font-size: 16px;
	width: 115%;
	margin-top: 60px;
}

nav .donate p {
	margin-top: 0px;
	margin-left: 140px;
	display: inline;
}

nav .donate .donbtn {
	display: inline-block;
	cursor: pointer;
}

nav .donate a:link {
	text-decoration: underline;
}

nav .donate a:hover {
	background: #BDAE92;
	color: #fff;
}

/*Responsive Styles*/
@media screen and
/*(orientation: portrait)*/
(max-width : 750px) {
	/*Make dropdown links appear inline*/

	nav {
		height: auto;
		font-size: 12px;
		position: absolute;
	}

	nav ul {
		position: static;
		display: none;
	}

	/*Create vertical spacing*/
	nav li {
		margin-bottom: 1px;
	}

	/*Make all menu links full width*/
	nav ul li,
	li a {
		width: auto;
		display: inline-block;
	}

	nav ul li ul {
		width: auto;
	}

	nav li a {
		text-align: left;
	}

	/*Display 'show menu' link*/
	nav .show-menu {
		top: 0;
		display: inline-block;
	}

	nav .donate p {
		display: inline-block;
		margin-left: 0px;
	}

	nav .donate {
		display: none;
	}

	nav .searchbox {
		float: none;
		background-color: transparent;
		display: inline-block;
	}
}